<div class="row alerts-container" ng-hide="VM.unchanged">
	<div class="col-xs-12">
		<div uib-alert type="warning" close="VM.closeAlert()">Character has changed. <a class="btn btn-sm btn-info" ng-click="VM.Save()">Save it</a></div>
	</div>
</div>
<div class="row" id="jsoneditor"></div>
<div class="row alerts-container" ng-hide="VM.unchanged">
	<div class="col-xs-12">
		<div uib-alert type="warning" close="VM.closeAlert()">Character has changed. <a class="btn btn-sm btn-info" ng-click="VM.Save()">Save it</a></div>
	</div>
</div>