<!--{{ VM.Params.Id }} - {{ VM.RCT | json }} - {{VM.RCTs | json}}-->
Calc : {{ 1+1 }}
<svg ng-if="VM.Status == 'OK'" id="Tpl" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="100%" viewbox="0 0 0 0"
	ng-attr-view_box="{{ VM.Sheet.Template.ViewBox() }}">
	<defs>
	</defs>
	<!--Fond de Page-->
	<g>
		<image xlink:href="" ng-attr-xlink:href="{{ VM.Sheet.Template.Fond.Src }}"
			x="0" y="0" width="1" height="1" ng-attr-width="{{ VM.Sheet.Template.Fond.Width }}" ng-attr-height="{{ VM.Sheet.Template.Fond.Height }}"></image>
		<rect x="0" y="0" width="1" height="1" ng-attr-width="{{ VM.Sheet.Template.Fond.Width }}" ng-attr-height="{{ VM.Sheet.Template.Fond.Height }}"
			fill="white" stroke="none" fill-opacity="0.01"></rect>
	</g>
	<g ng-repeat="box in VM.Sheet.Template.Boxes" ng-click="VM.Change(box.ref)" style="cursor: pointer">
		<clipPath ng-attr-id="{{ 'Clp' + $index }}">
			<rect x="0" y="0" width="1" height="1" ng-attr-x="{{ box.x }}" ng-attr-y="{{ box.y }}" ng-attr-width="{{ box.w }}" ng-attr-height="{{ box.h }}"></rect>
		</clipPath>
		<rect x="0" y="0" width="1" height="1" ng-attr-x="{{box.x }}" ng-attr-y="{{ box.y }}" ng-attr-width="{{ box.w }}" ng-attr-height="{{ box.h }}" fill="white" stroke="none" fill-opacity="0.01"></rect>
		<text x="0" y="0" ng-attr-x="{{ VM.Sheet.X(box) }}" ng-attr-y="{{ box.y + box.h/2 }}"
			text-anchor="middle" ng-attr-text-anchor="{{ box.fer }}"
			ng-attr-fill="{{ box.col }}" ng-attr-font-size="{{ box.h }}"
			dominant-baseline="central" ng-attr-clip-path="{{ 'url(#Clp'+$index+')' }}">{{ VM.Sheet.Find(box.ref) }}</text>
	</g>
</svg>
<div ng-if="VM.Status == 'KO'">Cette Fiche n'existe pas...</div>
<pre>
{{ VM.Status }}
{{ VM.Sheet | json }}
</pre>
