<!doctype html>
<html lang="fr" ng-app="KMS">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Keep My Sheets</title>
	<!-- STYLES -->
	<!-- build:css lib/css/main.min.css -->
	<link rel="stylesheet" type="text/css" href="components/jsoneditor/dist/jsoneditor.min.css">
	<link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<!-- endbuild -->
	<!-- SCRIPTS -->
	<!-- build:js lib/js/main.min.js -->
	<script type="text/javascript" src="components/angular/angular.min.js"></script>
	<script type="text/javascript" src="components/firebase/firebase.js"></script>
	<script type="text/javascript" src="components/angularfire/dist/angularfire.min.js"></script>
	<script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
	<script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="components/jsoneditor/dist/jsoneditor-minimalist.min.js"></script>
	<!-- endbuild -->
	<!-- Custom Scripts -->
	<!-- build:jsp js/dashboard.min.js -->
	<script type="text/javascript" src="js/module.js"></script>
	<script type="text/javascript" src="js/services/template.js"></script>
	<script type="text/javascript" src="js/services/sheet.js"></script>
	<script type="text/javascript" src="js/services/svg-utils.js"></script>
	<script type="text/javascript" src="js/services/fb.js"></script>
	<script type="text/javascript" src="js/controllers/alert-ctrl.js"></script>
	<script type="text/javascript" src="js/controllers/master-ctrl.js"></script>
	<script type="text/javascript" src="js/controllers/sheet-ctrl.js"></script>
	<script type="text/javascript" src="js/controllers/character-ctrl.js"></script>
	<script type="text/javascript" src="js/controllers/template-ctrl.js"></script>
	<script type="text/javascript" src="js/controllers/modal-instance-ctrl.js"></script>
	<script type="text/javascript" src="js/directives/loading.js"></script>
	<script type="text/javascript" src="js/directives/right-click.js"></script>
	<script type="text/javascript" src="js/directives/widget-body.js"></script>
	<script type="text/javascript" src="js/directives/widget-footer.js"></script>
	<script type="text/javascript" src="js/directives/widget-header.js"></script>
	<script type="text/javascript" src="js/directives/widget.js"></script>
	<script type="text/javascript" src="js/directives/sidebar-item.js"></script>
	<script type="text/javascript" src="js/routes.js"></script>
	<!-- endbuild -->
</head>
<body ng-controller="MasterCtrl">

	<div id="page-login" ng-cloak ng-hide="FB.user" class="vertical-center">
		<div class="container col-sm-4">
			<form name="loginForm" novalidate>
				<div class="form-group">
					<label for="username">Utilisateur</label>
					<input ng-model="username" type="text" id="username" name="username" class="form-control" placeholder="Entrez votre mail" autofocus="true" autocomplete="off" required>
				</div>
				<div class="form-group">
					<label for="password">Mot de passe</label>
					<input ng-model="password" type="password" id="password" name="password" class="form-control" placeholder="Entrez votre mot de passe" required>
				</div>
				<div class="form-group" ng-hide="waiting">
					<button class="btn" ng-class="{'btn-primary':ok,'btn-danger':!ok}" ng-click="Connect()">Se connecter</button>
				</div>
			</form>
		</div>
	</div>

	<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak ng-if="FB.user">

		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar">
				<li class="sidebar-main"> <a ng-click="toggleSidebar()"> KMS <span class="menu-icon glyphicon glyphicon-transfer"></span> </a> </li>
				<li class="sidebar-title"><span>NAVIGATION</span></li>
				<rd-sidebar-item icon="fa fa-tachometer" target="#">Tableau de bord</rd-sidebar-item>
			</ul>
		</div>
		<!-- End Sidebar -->

		<div id="content-wrapper">
			<div class="page-content">

				<!-- Main Content -->
				<ui-view autoscroll/>

			</div><!-- End Page Content -->
		</div><!-- End Content Wrapper -->
	</div><!-- End Page Wrapper -->

</body>
</html>
